---
BasedOnStyle:  LLVM
UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Stroustrup
AlignArrayOfStructures: Left
ColumnLimit: 0
PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
...
